<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (blueprintCreatedAliens)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
        <app-server-element *ngFor="let serverelement of serverElements" [CustomeElement]=serverelement>
          <p>
            <strong *ngIf="serverelement.type === 'server'" style="color: red">{{ serverelement.content }}</strong>
            <strong *ngIf="serverelement.type === 'blueprint'">{{ serverelement.content }}</strong>
          </p>
        </app-server-element>
    </div>
  </div>
</div>


  <input (keyup.enter)="onKey($event)">
  <p>{{values}}</p>

  <input #box (keyup.enter)="onEnter(box.value)">
  <p>{{value}}</p>

  <input #box1
  (keyup.enter)="update(box1.value)"
  (blur)="update(box1.value)">

<p>{{value}}</p>



  <input #newHero
  (keyup.enter)="addHero(newHero.value)"
  (blur)="addHero(newHero.value); newHero.value='' ">

<button (click)="addHero(newHero.value)">Add</button>

<ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>


